@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
}

.barra-superior{
    width: 100%;
    border-bottom: 5px solid #572EE5;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 1;
    /*box-shadow: 0 4px 2px -2px rgba(0,0,0,.2)*/
}

.header{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 29px;
    padding-left: 43px;
    padding-right: 43px;
    display: flex;
    justify-content: space-between;
}

header nav ul li a{
    text-decoration: none;
    color: #572EE5;
}

header nav ul li {
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}

header nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #5ED7C6;
}

header nav ul li a:active{
    color: #9CAFC3 ;
}

header nav ul{
    position: absolute;
    right: 120px;
    top: 54px;
}

header .boton-crear:hover{
    background-color: #572EE5;
    color: #FFFFFF;
}

/*inicio_menu-hamburguesa*/
#btn-menu{
    display: none;
}
.menu-mobile{
    display: none;
}

.menu-mobile li a{
    text-decoration: none;
    color: #FFFFFF;
}

.menu-mobile li a:visited{
    color: #FFFFFF;
}

.menu-mobile li a:hover{
    color: #00F3BB; 
    text-decoration: underline;
}

.menu-mobile li a:active{
    text-decoration: underline;
    color: #9CAFC3;
    opacity: 56%;
}

.menu-mobile{
    display: none;
    margin-left: -48px;
}

input[type="checkbox"] {
    display: none;
}
/*fin_menu-hamburguesa*/

.crear-gifo{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 80px;
    padding-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
}

.container-camara{
    display: flex;
}

.container-pantalla{
    border: 1px solid #572EE5;
    width: 688px;
    height: 390px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.container-esquinas{
    border-top-left-radius: 1px solid #50E3C2;
}

.barra-pelicula{
    border: 1px solid #572EE5;
    border-radius: 10px;
    width: 795.9px;
    height: 6.9px;
    background-color: #572EE5;
}

.container-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-comenzar{
    border: 1px solid #572EE5;
    border-radius: 25px;
    width: 127px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.boton-comenzar label{
    font-family: 'Montserrat';
    text-align: center;
    color: #572EE5;
    font-size: 13px;
}

h1{
    color: #572EE5;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 .gifos-proyector{
    color: #5ED7C6;
    text-transform: uppercase;
}

.container-pantalla p{
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: 29px;
    padding-left: 43px;
    padding-right: 43px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer .container-redes{
    display: flex;
    align-items: center;
}

.footer .redes-sociales{
    display: flex;
    align-items: center;
}

footer p{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

footer div a img{
    padding-left: 15px;
}

.barra-inferior{
    width: 100%;
    border-bottom: 5px solid #572EE5;
}
