@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
    transition: .1s ease all;
}

.barra-superior{
    width: 100%;
    border-bottom: 5px solid #572EE5;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 1;
    /*box-shadow: 0 4px 2px -2px rgba(0,0,0,.2)*/
}

.header{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 29px;
    padding-left: 43px;
    padding-right: 43px;
    display: flex;
    justify-content: space-between;
}

header nav ul li a{
    text-decoration: none;
    color: #572EE5;
}

header nav ul li {
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}

header nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #5ED7C6;
}

header nav ul li a:active{
    color: #9CAFC3 ;
}

header nav ul{
    position: absolute;
    right: 120px;
    top: 54px;
}

header .menu-creargifo .boton-crear-blanco {
    display: none;
}

header .menu-creargifo .boton-crear-gris {
    display: none;
}

header .menu-creargifo:hover .boton-crear-violeta {
    display: none;
}

header .menu-creargifo:hover .boton-crear-blanco {
    display: block;
}

header .menu-creargifo:active .boton-crear-gris {
    display: inline-block;
}

header .menu-creargifo:active .boton-crear-blanco {
    display: none;
}

/*inicio_menu-hamburguesa*/
#btn-menu{
    display: none;
}
.menu-mobile{
    display: none;
}

.menu-mobile li a{
    text-decoration: none;
    color: #FFFFFF;
}

.menu-mobile li a:visited{
    color: #FFFFFF;
}

.menu-mobile li a:hover{
    color: #00F3BB; 
    text-decoration: underline;
}

.menu-mobile li a:active{
    text-decoration: underline;
    color: #9CAFC3;
    opacity: 56%;
}

.menu-mobile{
    display: none;
    margin-left: -48px;
}

input[type="checkbox"] {
    display: none;
}
/*fin_menu-hamburguesa*/

.crear-gifo{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 80px;
    padding-top: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.container-camara{
    display: flex;
    position: relative;
    left: 150px;
}
#pelicula{
    position: relative;
    top: 250px;
    right: 200px;
}

.container-camara .luz-camara{
    position: relative;
    top: 3px;
}

.container-pantalla{
    border: 1px solid #572EE5;
    width: 865px;
    height: 540px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    left: -20px;
}

/* .container-esquinas {
    position:relative;
    width: 660px;
    height: 365px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    } */

/*comienzo_bordes-esquinas*/

.esquinas-frame{
    position:relative;
    width: 830px;
    height: 535px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    position: relative;
    top: 239px;
}

.esquinas-frame .esquinaA {
    border-top: 1px solid #50E3C2;
    border-left: 1px solid #50E3C2;
    width: 25px;
    height: 27px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.esquinas-frame .esquinaB {
    border-top: 1px solid #50E3C2;
    border-right: 1px solid #50E3C2;
    width: 25px;
    height: 27px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.esquinas-frame .esquinaC {
    border-bottom: 1px solid #50E3C2;
    border-left: 1px solid #50E3C2;
    width: 25px;
    height: 27px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.esquinas-frame .esquinaD {
    border-bottom: 1px solid #50E3C2;
    border-right: 1px solid #50E3C2;
    width: 25px;
    height: 27px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/*fin_bordes-esquinas*/

.container-video{
    width: 640px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 75px;
    bottom: 100px;
}

.container-video .container-video-texto{
    position: relative;
    left: 40px;
    bottom: 90px;
}

.overlay-video{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 46, 229, 0.6);
    text-align: center;
    position: absolute;
    left: 40px;
    bottom: 168px;
    z-index: 5;
}

#overlay-video-actions{
    display: block;
    position: relative;
    left: 564px;
}

#overlay-video-textos{
    position: relative;
    top: 220px;
    left: 150px;
}

p#overlay-video-parrafo {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

#gif-grabado{
    position: absolute;
    left: 40px;
    bottom: 168px;
    width: 640px;
    height: 480px;
    display: none;
}

video{
    position: relative;
    bottom: 168px;
    left: 35px;
}

/* #grabacion-video{
    display: none;
    position: absolute;
    z-index: 1;
} */

.barra-pelicula{
    border: 1px solid #572EE5;
    border-radius: 10px;
    width: 795.9px;
    height: 6.9px;
    background-color: #572EE5;
    margin: 15px;
}

.container-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-botones .crear-pasos{
    display: flex;
}

.container-botones .crear-pasos p{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #572EE5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #572EE5;
}

/* #creargifo-pasos-numero{
    font-family: 'Roboto';
    font-size: 18px;
    color: #572EE5;
    border: 1px solid #572EE5;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 20px;
    line-height: 32px;
} */

.contador-container{
    position: absolute;
    right: 600px;
    bottom: 220px;
}

.contador-container #contador-grabacion{
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #572EE5;
}

.contador-container #contador-repetircaptura{
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #572EE5;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    background-color: unset;
    border: none;
    border-bottom: 2px solid #ffffff;
    cursor: pointer;
}

.contador-container #contador-repetircaptura:hover{
    border-bottom: 2px solid #50E3C2;
}

h1{
    color: #572EE5;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 .gifos-proyector{
    color: #5ED7C6;
    text-transform: uppercase;
}

.container-pantalla p{
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
}

.botones-creargifo-contenedor{
    text-align: center;
    position: relative;
    right: 10px;
}

/* img #gif-grabado{
    display: block;
    position: relative;
    left: 105px;
    bottom: 167px;
    width: 561px;
    height: 360px;
} */

.botones-creargifo-contenedor #boton-creargifo-comenzar{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #572EE5;
    margin: 0 auto 26px;
    text-transform: uppercase;
    background-color: unset;
    border: none;
    border: 1px solid #572EE5;
    border-radius: 25px;
    padding: 16px 32px;
    cursor: pointer;
}

.botones-creargifo-contenedor #boton-creargifo-grabar{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #572EE5;
    margin: 0 auto 26px;
    text-transform: uppercase;
    background-color: unset;
    border: none;
    display: none;
    border: 1px solid #572EE5;
    border-radius: 25px;
    padding: 16px 32px;
    cursor: pointer;
}

.botones-creargifo-contenedor #boton-creargifo-finalizar{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #572EE5;
    margin: 0 auto 26px;
    text-transform: uppercase;
    background-color: unset;
    border: none;
    display: none;
    border: 1px solid #572EE5;
    border-radius: 25px;
    padding: 16px 32px;
    cursor: pointer;
}

.botones-creargifo-contenedor #boton-creargifo-subirgifo{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #572EE5;
    margin: 0 auto 26px;
    text-transform: uppercase;
    background-color: unset;
    border: none;
    display: none;
    border: 1px solid #572EE5;
    border-radius: 25px;
    padding: 16px 32px;
    cursor: pointer;
}

.botones-creargifo-contenedor #boton-creargifo-comenzar:hover{
    background-color: #572EE5;
    color: #ffffff;
}
.botones-creargifo-contenedor #boton-creargifo-grabar:hover{
    background-color: #572EE5;
    color: #ffffff;
}
.botones-creargifo-contenedor #boton-creargifo-finalizar:hover{
    background-color: #572EE5;
    color: #ffffff;
}
.botones-creargifo-contenedor #boton-creargifo-subirgifo:hover{
    background-color: #572EE5;
    color: #ffffff;
}

.aviso-cartel-mobile{
    display: none;
}

.aviso-cartel-mobile h2{
    color: #572EE5;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: 29px;
    padding-left: 43px;
    padding-right: 43px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer .container-redes{
    display: flex;
    align-items: center;
}

.footer .redes-sociales{
    display: flex;
    align-items: center;
}

footer p{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

footer .redes-icon{
    padding-left: 15px;
    color: #9CAFC3;
}

footer .redes-icon .icon-hover{
    display: none;
}

footer .redes-icon:hover .icon{
    display: none;
}

footer .redes-icon:hover .icon-hover{
    display: inline-block;
}

.barra-inferior{
    width: 100%;
    border-bottom: 5px solid #572EE5;
}

/*Media Querys*/
/*Comienza responsive*/
@media screen and (max-width: 730px) {
    .menu-creargifo{
        display: none;
    }
    .menu-mobile{
        display: block;
    }
    .menu-desktop{
        display: none;
    }
    .menu-mobile ul{
        list-style-type: none;
        width: 100%;
        height: 760%;
        margin-left: -200%;
        position: absolute;
        transition: all 500ms ease;
        font-family: 'IBM Plex Mono', monospace;
        left: 10px;
        top: 100px;
    }
    #btn-menu:checked ~ .menu-mobile ul{
        transform: translateX(-3vw);
        margin: 0;
        z-index: 1;
        background-color: #572EE5;
        opacity: 90%;
    }
    
    /*burger-menu bars*/
    .lbl-menu{
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        float: right;
        margin-top: 4px;
        top: 20px;
        right: 20px;
    }
    .lbl-menu #spn1,#spn2,#spn3{
        position: absolute;
        content: "";
        background-color: #572EE5;
        width: 20px;
        height: 3px;
        border-radius: 40px;
        transition: all 400ms ease;
    }
    #spn2{
        top: 7px;
    }
    #spn3{
        top: 14px;
    }
    #btn-menu:checked ~ .lbl-menu #spn1{
        transform: rotate(140deg);
        top: 10px;
    }
    #btn-menu:checked ~ .lbl-menu #spn2{
        opacity: 0;
    }
    #btn-menu:checked ~ .lbl-menu #spn3{
        transform: rotate(-140deg);
        top: 10px;
        background-color: #572EE5;
    }
    /**/
    .menu-mobile li{
        width: 100vw;
        height: 59px;
        color: #FFFFFF;
        padding-left: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
    .crear-gifo{
        display: none;
    }
    .aviso-cartel-mobile{
        display: block;
        width: 100vw;
        height: 20vh;
    }
    .aviso-cartel-mobile h2{
        font-size: 25px;
        position: relative;
        top: 53px;
    }
    .botones-creargifo-contenedor{
        display: none;
    }
}

@media screen and (max-width: 630px) {
    .lbl-menu{
        position: relative;
        right: 53px;
        top: 12px;
    }
    .logo-gifos{
        width: 70%;
        padding-bottom: 20px;
        position: relative;
        right: 28px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .redes-sociales{
        position: relative;
        right: 10px;
    }
    .footer .redes-sociales a{
        display: inline-block;
        padding-bottom: 10px;
    }
    .footer .container-redes{
        display: flex;
        flex-direction: column;
    }
    .footer{
        text-align: center;
    }
    .footer p{
        padding-bottom: 10px;
    }
}

/*DarkMode*/
.darkmode{
    background-color: #37383C;
}

.darkmode .barra-superior{
    width: 100%;
    border-bottom: 5px solid #000000;
}

.darkmode header nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

.darkmode header nav ul li a:hover{
    color: #FFFFFF; 
    text-decoration: underline;
    text-decoration-color: #00F3BB;;
}

.darkmode header nav ul li{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}

.darkmode header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #37383C;
    z-index: 1;
}

/*.darkmode .search-input input{
    height: 55px;
    width: 128%;
    outline: none;
    border: none;
    border-radius: 35px;
    padding: 0 60px 0 20px;
    font-size: 16px;
    border: 1px solid #FFFFFF;
    background-color: #37383C;
}*/

.darkmode .container-pantalla{
    border: 1px solid #FFFFFF;
}

.darkmode h1{
    color: #FFFFFF;
}

.darkmode h3{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
}

.darkmode .barra-pelicula{
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.darkmode .container-numeros .numero{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.darkmode .boton-comenzar{
    border: 1px solid #FFFFFF;
}

.darkmode .boton-comenzar label{
    color: #FFFFFF;
    z-index: 1;
}

.darkmode .boton-comenzar:hover{
    background-color: #FFFFFF;
}

.darkmode .boton-comenzar label:hover{
    color: #222326;
}

.darkmode .trending{
    color: #FFFFFF;
}

.darkmode .row{
    background-color: #222326;
    width: 100%;
    height: 640px;
    padding-top: 60px;
}

.darkmode div h2{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.darkmode div p{
    color: #FFFFFF;
}

.darkmode footer p{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.darkmode footer div a{
    color: #CDD6E0;
    padding-left: 15px;
}

.darkmode .barra-inferior{
    width: 100%;
    border-bottom: 5px solid #000000;
}