@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
}

.barra-superior{
    width: 100%;
    border-bottom: 5px solid #572EE5;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 1;
    /*box-shadow: 0 4px 2px -2px rgba(0,0,0,.2)*/
}

.header{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 29px;
    padding-left: 43px;
    padding-right: 43px;
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}

header nav ul li:hover{
    text-decoration: underline;
    text-decoration-color: #5ED7C6;
}

header nav ul li:active{
    color: #9CAFC3 ;
}

header nav ul{
    position: absolute;
    right: 120px;
    top: 54px;
}

header .boton-crear:hover{
    background-color: #572EE5;
    color: #FFFFFF;
}

/*inicio_menu-hamburguesa*/
#btn-menu{
    display: none;
}

.menu-mobile{
    display: none;
}

.menu-mobile li a{
    text-decoration: none;
    color: #FFFFFF;
}

.menu-mobile li a:visited{
    color: #FFFFFF;
}

.menu-mobile li a:hover{
    color: #00F3BB; 
    text-decoration: line-through;
}

.menu-mobile li a:active{
    text-decoration: line-through;
    color: #060A24;
    opacity: 56%;
}
/*inicio_menu-hamburguesa*/

/*barra_busqueda_inicio*/
.wrapper{
    max-width: 450px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .search-input{
    position: relative;
    right: 70px;
    width: 100%;
    top: -4px;
    border-radius: 5px;
    /*box-shadow: 0px 1px 5px 3px #000000;*/
}

.search-input input{
    height: 55px;
    width: 128%;
    outline: none;
    border: none;
    border-radius: 35px;
    padding: 0 60px 0 20px;
    font-size: 16px;
    /*box-shadow: 0px 1px 5px rgba(0,0,0,0.1);*/
    border: 1px solid #572EE5;
}

.search-input .icon-search{
    position: absolute;
    top: 18px;
    right: -93px;
    text-align: center;
    cursor: pointer;
}

.search-input .autocom-box{
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    width: 100px;
    cursor: default;
    border-radius: 35px;
    display: none;
}

.search-input.active .autocom-box li{
    display: block;
}

.autocom-box li:hover{
    background-color: #efefef;
}

/*fin_barra_busqueda*/

h1{
    color: #572EE5;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 .gifos-text{
    color: #5ED7C6;
    text-transform: uppercase;
}

.seccion-primera{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 80px;
    padding-top: 60px;
    margin-bottom: 60px;
}

h3{
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
}

.trending{
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.row{
    background-color: #F3F5F8;
    width: 100%;
    height: 640px;
    padding-top: 60px;
}

div h2{
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

div p{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: 29px;
    padding-left: 43px;
    padding-right: 43px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer .redes-sociales{
    display: flex;
}

footer p{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

footer div a{
    color: #CDD6E0;
    padding-left: 15px;
}

footer div a:hover{
    color: #572EE5;
}

.barra-inferior{
    width: 100%;
    border-bottom: 5px solid #572EE5;
}

/*comienza responsive*/

@media screen and (max-width: 730px) {
    .boton-crear{
        display: none;
    }
    .menu-desktop{
        display: none;
    }
    .menu-mobile ul{
        list-style-type: none;
        width: 100%;
        margin-left: -200%;
        position: absolute;
        transition: all 500ms ease;
        font-family: 'IBM Plex Mono', monospace;
    }
    #btn-menu:checked ~ .menu-mobile ul{
        transform: translateX(-3vw);
        margin: 0;
        z-index: 1;
    }
    /*inicio_burger-menu_bars*/
    .lbl-menu{
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        float: right;
        margin-top: 25px;
    }
    .lbl-menu #spn1,#spn2,#spn3{
        position: absolute;
        content: "";
        background-color: #572EE5;
        width: 20px;
        height: 3px;
        border-radius: 40px;
        transition: all 400ms ease;
    }
    #spn2{
        top: 7px;
    }
    #spn3{
        top: 14px;
    }
    #btn-menu:checked ~ .lbl-menu #spn1{
        transform: rotate(140deg);
        top: 10px;
    }
    #btn-menu:checked ~ .lbl-menu #spn2{
        opacity: 0;
    }
    #btn-menu:checked ~ .lbl-menu #spn3{
        transform: rotate(-140deg);
        top: 10px;
    }
    /*fin_burger-menu_bars*/
    .menu-mobile li{
        width: 100vw;
        height: 59px;
        background-color: #572EE5;
        color: #FFFFFF;
        padding-left: 10px;
        padding-top: 10px;
        border: 0.5px solid #572EE5;
    }
}